DirectoryIndex index.html index.php
ErrorDocument 404 /404.html

RewriteEngine On

# Whitepaper
RewriteRule ^whitepaper/?$ /whitepaper/index.html [L]

# Protect data directory
RewriteRule ^data/ - [F,L]
